DATABASE_URL="postgresql://user:password@localhost:5432/matrimony?schema=public"
PORT=5001
CLOUDINARY_CLOUD_NAME='dd0d558xp'
CLOUDINARY_API_KEY='178945487166911'
CLOUDINARY_API_SECRET='cH0aixZvKl50SMsIadnwS1Z7Wyc'
